body {
      margin: 0;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background:#067895;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      height: 100vh;
    }
    .navbar {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  background-color: #004466;
  padding: 15px 30px;
  color: white;
}

    .container {
      background:#ccc;
      padding: 25px;
      border-radius: 30px;
      
      width: 300px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }

    h1 {
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: white;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 20px;
      font-size: 24px;
      letter-spacing: 2px;
    }

    label {
      font-size: 14px;
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }

    input, select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }

    .btn {
      width: 100%;
      background: #2d7c36;
      color: white;
      padding: 12px;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .btn:hover {
     scale: 1.2;
        background: #25662d;
    }

    .footer {
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
      color:#ccc ;
    }

    .footer a {
      color: #0b3a57;
      text-decoration: none;
    }
    .terr:focus{
        background-color: aqua;
    }
